/*Universal Selector = The Universal selector will select elements of any type, hence the name "universal", and the syntax for 
it is a simple asterisk*/

*{
    color:purple;
}

/* Type Selector = A type selector or element selector will select all elements of the given element type, and the syntax is
just the name of the element. */

div{
    color:magenta;
}

/*Class Selector = Class selectors will select all elements with the given class, which is just an attribute you place on an HTML 
element. */
.alert-text{
    color: red;
}

/*ID Selector = ID selectors are similar to class selectors. They select an element with the given ID, which is another attribute we can 
place on an HTML element. The major difference between classes and IDs is that an element can only have one ID. It cannot be repeated
on a single page and should not contain any whitespace.*/
#testing{
    color:black;
}

* {
    outline: 2px solid red;
  }
  