*{
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.box-one{
    background-color: aquamarine;
    padding: 20px;
    border: 20px solid blue;
    margin: 20px;
}
.box-two{
    background-color: aqua;
    padding: 20px;
    border: 20px solid crimson;
    margin: 20px;
}